nav{
  height: 70px;
}
span.hide-on-mobile {
  display: inline;
}

/* Hide span when screen size is 600px or less (mobile view) */
@media only screen and (max-width: 600px) {
  span.hide-on-mobile {
    display: none;
  }
}